.add-product {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.add-product__name {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.add-product__structure {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 40px;
    width: 285px;
  }
}

.add-product__description {
  margin: 0;
  padding: 13px 0 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 0;
    gap: 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.add-product__parametr {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.add-product__value {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}
