.add-product {
  margin: 0;
  padding: 0;
}

.add-product__name {
  margin: 0;
  padding: 9px 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.add-product__structure {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.add-product__description {
  margin: 0;
  padding: 13px 0 15px;
  display: flex;
  justify-content: space-between;
}

.add-product__parametr {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.add-product__value {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .add-product__name {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .add-product__description {
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 49px;
  }

  .add-product__parametr {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .add-product__value {
    display: flex;
    align-items: center;
  }
}
