.bonus-card {
  margin: 35px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-bonus-background-mobile.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 280px;
  height: 290px;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-bonus-background-mobile@2x.png");
    background-size: 280px auto;
  }

  @media (min-width: $tablet-width) {
    margin: 70px 0;
    justify-content: space-between;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-bonus-background-tablet.png");
    width: 707px;
    height: 200px;
    box-sizing: border-box;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-bonus-background-tablet@2x.png");
      background-size: 707px auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-bonus-background-desktop.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center;
    width: 245px;
    height: 288px;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog-bonus-background-desktop@2x.png");
      background-size: 245px auto;
    }
  }
}

.bonus-card__box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    flex-direction: column;
  }
}

.bonus-card__image {
  margin: 0;
  padding: 59px 0 48px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 80px;
    padding: 57px 0 61px 77px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 83px 46px;
  }
}

.bonus-card__description {
  margin: 0;
  padding: 0 0 43px;
  width: 161px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 71px 0 69px 264px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 0 43px;
    text-align: center;
  }
}
