.bonus-card {
  margin: 0 20px;
  padding: 0;
}

.bonus-card__box {
  display: flex;
  flex-direction: column;
  margin: 35px 0;
  padding: 0;
  align-items: center;
}

.bonus-card__image {
  margin: 0;
  padding: 48px 0;
  text-align: center;
}

.bonus-card__description {
  margin: 0;
  padding: 0;
  width: 161px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
