.box-info {
  margin: 0;
  padding: 0;
}

.box-info__question {
  margin: 0;
  padding: 0;
}

.box-info__field {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  gap: 13px;
  align-items: center;
}

.box-info__enter {
  padding: 14px 0 13px 15px;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .box-info {
    padding-bottom: 72px;
  }

  .box-info__field {
    font-size: 20px;
    line-height: 20px;
  }

  .box-info__enter {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1440px) {
  .box-info {
    padding-bottom: 0;
    width: 570px;
  }

  .box-info__field {
    font-size: 20px;
    line-height: 20px;
  }

  .box-info__enter {
    font-size: 20px;
    line-height: 20px;
  }
}
