.catalog-main-products {
  margin: 0;
  padding: 0;
}

.catalog-main-products__title {
  margin: 0;
  padding: 27px 0;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog-main-products__card {
  margin: 0;
  padding: 19px 0 25px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 13px;
}

.catalog-main-products__list {
  margin: 0;
  padding: 0;
  width: 280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-main-products__list-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.catalog-main-products__item {
  margin: 0;
  padding: 0;
  width: 140px;
}

.product-img {
  margin: 0;
  padding: 14px 36px 12px;
  display: block;
}

.product-name {
  margin: 0;
  padding: 0;
  width: 76px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.product-name-more {
  margin: 0;
  padding: 23px 0 8px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-structure {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.product-structure-more {
  margin: 0;
  padding: 0 0 21px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.product-description {
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
}

.structure__item {
  margin: 0;
  padding: 0;
  width: 140px;
  height: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-parametr {
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.product-value {
  margin: 0;
  padding: 0;
}

.button {
  margin: 0;
  padding: 10px 0px;
  height: 40px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68B738;
  border: none;
}

.button-more {
  margin: 0;
  padding: 10px 0px;
  height: 40px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}
