.form-container {
  margin: 0;
  padding: 0 20px;
  background-color: #ffffff;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    border-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    border-top: 0;
  }
}

.form-container__title {
  margin: 0;
  padding: 27px 0 37px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding: 67px 0 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 0 54px;
    font-size: 60px;
    line-height: 60px;
  }
}

.form-container__description {
  margin: 0;
  padding: 0 0 39px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 0 66px;
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 66px;
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-container__box {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
}
