.form-parametrs {
  margin: 0;
  padding: 0;
}

.form-parametrs__container {
  margin: 0;
  padding: 0;
}

.form-parametrs__box {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.form-parametrs__box-info {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.form-parametrs__box-program {
  margin: 0;
  padding: 46px 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $tablet-width) {
    padding: 23px 0 27px 27px;
    gap: 23px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 0 27px 27px;
    gap: 23px;
    border: 1px solid #e7e7e7;
    width: 570px;
  }
}

.form-parametrs__contact-title {
  margin: 0;
  padding: 45px 0 35px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 76px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 0 76px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form-parametrs__contact-address {
  margin: 0;
  padding: 45px 0 35px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form-parametrs__comment {
  margin: 0;
  padding: 24px 0 38px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 98px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 0 98px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form-parametrs__comment-info {
  margin: 0;
  padding: 14px 0 0 15px;
  width: 265px;
  min-height: 150px;
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 11px 0 0 20px;
    width: 628px;
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 0 0 20px;
    width: 1220px;
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-parametrs__addition {
  margin: 0;
  padding: 23px 0 36px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 65px 0 57px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 0 57px;
    font-size: 36px;
    line-height: 36px;
  }
}

.form-parametrs__addition-info {
  margin: 0;
  padding: 0 0 34px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 0 54px 0;
    width: 282px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 54px 0;
    width: 282px;
    display: flex;
  }
}

.form-parametrs__subscribe-box {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 60px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 60px 0;
  }
}

.form-parametrs__subscribe {
  width: 100%;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    width: 282px;
    padding: 14px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 14px 0;
    width: 570px;
    display: inline-flex;
  }
}

.form-parametrs__attantion {
  margin: 0;
  padding: 21px 0 12px;
  color: #000000;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    display: inline-flex;
  }
}
