.form-container {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border-top: 0;
  }
}

.form-container__wrapper {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form-container__title {
  margin: 0 auto;
  padding: 27px 0 37px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 40px 0 54px 40px;
    font-size: 60px;
    line-height: 60px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0 54px 0;
    width: 1220px;
  }
}

.form-container__description {
  margin: 0 auto;
  padding: 0 0 39px 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 0 0 61px 40px;
    font-size: 20px;
    line-height: 30px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 60px 0;
    width: 1220px;
  }
}

.form-container__box {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
}
