.hero {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;

  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, #ffffff 50%, #64a83c 50%);
  }
}

.hero-welcome {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/jpg/index-background-1.jpg");
  background-repeat: no-repeat;
  background-color: #68b738;
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 302px;
  border: none;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/jpg/index-background-1@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    width: 588px;
    text-align: start;
    color: #000000;
    background: none;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 1060px;
  }
}

.hero-welcome-box {
  margin: 0 auto;
  background-color: #64a83c;

  @media (min-width: $tablet-width) {
    margin: 0;
    background: none;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
  }
}

.hero__title {
  margin: 0 auto;
  padding: 27px 35px 26px 36px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  width: 249px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 40px 0 39px 30px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 55px 0 40px;
    background: none;
    width: 414px;
  }
}

.hero__slogan {
  margin: 0;
  padding: 0 62px 29px 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 30px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.hero__button {
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.hero__image-box {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 20px auto 0;
    width: 708px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    margin: 116px auto 0;
    position: relative;
    top: -404px;
    left: 108px;
    width: 552px;
    height: 499px;
  }
}

.hero__image {
  margin: -134px 20px -2px 20px;

  @media (min-width: $tablet-width) {
    display: inline;
    margin: 20px 0 0;
    text-align: right;
    width: 100%;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin: 61px -7px 0 0;
    text-align: right;
  }
}

.link-container {
  margin: 0 auto;
  box-sizing: border-box;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: -27px auto;
    width: 244px;
  }

  @media (min-width: $desktop-width) {
    margin: -176px auto;
  }
}

.link-container a {
  margin: 0;
  padding: 10px 44px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    position: relative;
    bottom: 535px;
    right: 142px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    bottom: 355px;
    right: 408px;
  }
}
