.hero {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.hero-welcome {
  text-align: center;
  color: #ffffff;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-1.png");
  background-repeat: no-repeat;
  background-color: #ffffff;
  min-width: 320px;
  min-height: 302px;
  border: none;
}

.hero__title {
  margin: 0;
  padding: 27px 35px 26px 36px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.hero__slogan {
  margin: 0;
  padding: 0 62px 29px 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.link-container {
  margin: 0 20px;
  box-sizing: border-box;
}

.hero__button {
  display: block;
  padding: 8px 44px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.link-container a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.hero__image-box {
  margin: 0;
  padding: 0;
}

.hero__image {
  margin: -135px 20px 3px 20px;
}

@media (min-width: 760px) and (max-width: 1440px) {
  .hero {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .hero-welcome {
    margin: 0;
    padding: 0;
    text-align: start;
    color: #000000;
    background: none;
    background-repeat: no-repeat;
    background-color: #ffffff;
    min-width: 0;
    min-height: 0;
    border: none;
  }

  .hero__title {
    margin: 0;
    padding: 65px 120px 40px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .hero__slogan {
    margin: 0;
    padding: 0 120px 21px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .hero__image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
  }

  .link-container a {
    position: absolute;
    top: 305px;
    left: 120px;
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 14px 26px;
    text-transform: uppercase;
  }
}

