.main-footer {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.main-footer__wrapper {
  margin: 0;
  padding: 26px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.main-footer__wrapper--second {
  margin: 0 -20px;
  padding: 40px 20px;
  background-color: #f2f2f2;
}

.main-footer__title-box {
  margin: 0;
  padding: 0;
  width: 140px;
}

.main-footer__title {
  margin: 0;
  padding: 0;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__description-box {
  margin: 0;
  padding: 0;
  width: 140px;
}

.main-footer__description {
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.main-footer__map-image {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  text-align: center;
}

.main-footer__social-box {
  margin: 0;
  padding: 40px 20px;
  background-color: #f2f2f2;
}

.main-footer__social-box-link {
  margin: 0;
  padding: 0 0 20px 0;
  display: flex;
  justify-content: center;
}

.main-footer__list {
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__logo-img {
  margin: 0;
  padding: 0;
}

.main-footer__copyright a {
  color: #444444;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.main-footer__copyright {
  margin: 0;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-footer__copyright-link-academy {
  margin: 0;
  padding: 0;
}

@media (min-width: 760px) and (max-width: 1440px) {
  .main-footer__wrapper {
    margin: 0;
    padding: 61px 70px;
  }

  .main-footer__title-box {
    margin: 0;
    padding: 0;
    width: 163px;
  }

  .main-footer__title {
    font-size: 20px;
    line-height: 26px;
  }

  .main-footer__description-box {
    margin: 0;
    padding: 0;
    width: 157px;
    text-align: right;
  }

  .main-footer__description {
    font-size: 16px;
    line-height: 20px;
  }

  .main-footer__map-image {
    text-align: center;
  }

  .main-footer__social-box {
    margin: 0;
    padding: 55px 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  .main-footer__social-box-link {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-footer__copyright {
    margin: 0;
    padding: 0;
    gap: 23px;
  }

  .main-footer__list {
    padding: 0;
    align-items: center;
    border: none;
  }
}
