.main-nav {
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "  ";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/nav-toggle-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle::before {
  content: "  ";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/nav-toggle-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__wrapper {
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  padding: 0;
  display: block;
  position: absolute;
  top: 23px;
  right: 21px;
  background-color: #f2f2f2;
  width: 24px;
  height: 24px;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}


.main-nav__toggle--view-1 {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    min-width: 720px;
    min-height: 694px;
    border: none;
  }
}
