.main-footer {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.main-footer__contacts {
  margin: 0;
  padding: 0;
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1440px;
    background-color: #f2f2f2;
    position: relative;
  }
}

.main-footer__contacts--second {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  margin: 0 auto;
  padding: 26px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
    width: 628px;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 87px;
    padding: 58px 79px 60px;
    width: 408px;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.main-footer__wrapper--second {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.main-footer__title-box {
  margin: 0;
  padding: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 163px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-footer__title {
  margin: 0;
  padding: 0;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.main-footer__description-box {
  margin: 0;
  padding: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 157px;
    gap: 12px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.main-footer__description {
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.main-footer__map {
  margin: 0;
  padding: 0;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.main-footer__map iframe {
  display: block;
  border: none;
}

.main-footer__social {
  padding: 0;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 0 0;
  }
}

.main-footer__social-box {
  margin: 0 auto;
  padding: 40px 0;
  width: 280px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.main-footer__social-box-link {
  margin: 0;
  padding: 0 0 15px 0;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    align-items: center;
  }
}

.main-footer__list {
  margin: 0;
  padding: 19px 0 14px;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 4px 120px 0 160px;
    align-items: center;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 4px 378px 0 408px;
  }
}

.main-footer__logo-img {
  margin: 0;
  padding: 0;
}

.main-footer__copyright a {
  color: #444444;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.main-footer__copyright {
  margin: 0;
  padding: 19px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0;
    gap: 23px;
  }
}

.main-footer__copyright-link-academy {
  margin: 0;
  padding: 0;
}
