.main-header {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  font-family: "Oswald", sans-serif;
  position: relative;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.main-header-position {
  margin: 0 auto;
  padding: 0;
  text-align: start;

  @media (min-width: $tablet-width) {
    padding: 25px 30px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 74px 110px;
    display: flex;
    justify-content: space-between;
  }
}

.main-header__logo-box {
  margin: 0 auto;
  padding: 13px 20px 13px 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 56px;
  align-items: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    gap: 13px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    gap: 14px;
  }
}

.main-header__logo {
  margin: 0;
  padding: 0;
}

.main-header__logo-image {
  margin: 0;
  padding: 0;
}

.main-header__logo-title {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
