.main-nav__wrapper {
  display: block;
}

.main-nav__toggle {
  padding: 0;
  background-image: url("../img/nav-toggle-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: none;
}
