.main-header {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  position: relative;
  border: none;

  @media (min-width: $tablet-width) {
    margin: 25px auto;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin: 55px auto;
    width: 1220px;
    background: none;
  }
}

.main-header-position {
  margin: 0 auto;
  padding: 0;
  text-align: start;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    margin: 55px auto;
    width: 1220px;
  }
}

.main-header__logo-box {
  margin: 0 auto;
  padding: 13px 20px 7px 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 56px;
  align-items: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    gap: 13px;
    width: auto;
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.main-header__logo {
  margin: 0;
  padding: 0 0 5px;
}

.main-header__logo-image {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }
}

.main-header__logo-image:hover {
  opacity: 0.8;
}

.main-header__logo-image:active {
  opacity: 0.6;
}

.main-header__logo-title {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 101px;
    height: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.main-header__logo-title:hover {
  opacity: 0.8;
}

.main-header__logo-image:active {
  opacity: 0.6;
}
