.main-container {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

@media (min-width: 1440px) {
  .main-container {
    margin: 0;
    padding: 0 110px;
    background-color: #ffffff;
  }
}
