@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"),
       url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Oswald;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"),
       url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-body {
  margin:0 auto;
  width: 320px;
  background-color: #E6E6E6;
  color: #000000;
}

.page-body li {
  list-style: none;
}
