.programm {
  margin: 0;
  //background-color: #ffffff;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 84px 0 0;
  }
}

.programm__variation {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.programm__list {
  margin: 0;
  padding: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
}

.programm__item {
  margin: 0;
  padding: 30px 20px 18px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 77px 316px 59px 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 77px 61px 59px 52px;
  }
}

.programm__item--minus {
  margin: 0;
  position: relative;
  background-image: url("/img/svg/program-logo-cat-1.svg");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  background-size: 50px;

  @media (min-width: $tablet-width) {
    margin: 0;
    position: relative;
    background-image: url("/img/svg/program-logo-cat-1.svg");
    background-position: 445px 81px;
    background-repeat: no-repeat;
    background-size: 200px;
  }

  @media (min-width: $desktop-width) {
    background-position: 52px 41px;
    background-size: 100px;
  }
}

.programm__item--plus {
  margin: 0;
  position: relative;
  background-image: url("/img/svg/program-logo-cat-2.svg");
  background-position: 13px 24px;
  background-repeat: no-repeat;
  background-size: 67px;

  @media (min-width: $tablet-width) {
    margin: 0;
    position: relative;
    background-image: url("/img/svg/program-logo-cat-2.svg");
    background-position: 411px 91px;
    background-repeat: no-repeat;
    background-size: 268px;
  }

  @media (min-width: $desktop-width) {
    background-position: 33px 44px;
    background-size: 134px;
  }
}

.programm__title {
  margin: 0;
  padding: 0 0 0 70px;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 161px;
    font-size: 36px;
    line-height: 36px;
    text-align: start;
  }
}

.programm__description {
  margin: 0;
  padding: 29px 0 42px;
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  min-width: 227px;

  @media (min-width: $tablet-width) {
    padding: 24px 0 59px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 0 33px;
    font-size: 16px;
    line-height: 24px;
    width: 457px;
  }
}

.programm__description::after {
  position: absolute;
  content: "";
  left: 20px;
  bottom: 53px;
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.programm__link-box {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  width: 134px;
  background-image: url("/img/svg/index-icon-arrow.svg");
  background-position: right;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    gap: 25px;
    width: 165px;
  }

  @media (min-width: $desktop-width) {
    gap: 25px;
    width: 168px;
  }
}

.programm__link-box:hover {
  background-image: url("/img/svg/index-icon-arrow-hover.svg");
}

.programm__link-box:active {
  background-image: url("/img/svg/index-icon-arrow-hover.svg");
  opacity: 0.3;
}

.programm__link {
  padding: 0;
  color: #000000;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;


  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
