.programm {
  margin: 20px 20px;
  padding: 0;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    margin: 0 30px 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 375px 110px 71px;
  }
}

.programm-variation {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.programm__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
}

.programm__item {
  margin: 0;
  padding: 30px 20px 18px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 77px 316px 59px 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 77px 61px 59px 52px;
  }
}

.programm__item--minus {
  margin: 0;
}

.programm__item--plus {
  margin: 0;
}

.programm__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 104px;
    font-size: 36px;
    line-height: 36px;
    text-align: start;
  }
}

.programm__description {
  margin: 0;
  padding: 29px 0 38px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 24px 0 52px;
    font-size: 16px;
    line-height: 24px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 27px;
    font-size: 16px;
    line-height: 24px;
    width: 457px;
  }
}

.programm__link-box {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 139px;

  @media (min-width: $tablet-width) {
    gap: 25px;
    width: 165px;
  }

  @media (min-width: $desktop-width) {
    gap: 25px;
    width: 168px;
  }
}

.programm__link {
  padding: 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
