.promo {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 0;
    background: linear-gradient(to bottom, #ffffff 57%, #f2f2f2 0%);
    position: relative;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, #ffffff 35%, #f2f2f2 0%);
    border-top: none;
  }
}

.promo-container {
  margin: 0 auto;
  padding: 25px 0 40px;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    position: relative;
    z-index: 1;
  }
}

.promo__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    padding: 45px 0 0 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 0 76px;
    background-color: #ffffff;
  }
}

.promo__description {
  margin: 0;
  padding: 40px 0 20px;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 55px 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0 69px 0;
    width: 436px;
  }
}

.promo__stats-box {
  margin: 0;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  gap: 32px;

  @media (min-width: $tablet-width) {
    padding: 0 0 45px 0;
    justify-content: flex-start;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 0 50px 0;
    gap: 42px;
  }
}

.promo__stats {
  margin: 0;
  padding: 15px 0 0 0;
  width: 124px;
  text-align: center;
  background-image: url("/img/promo-back.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 162px;
    background-image: url("/img/promo-back-tablet.svg");
  }
}

.promo__parametr {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo__level {
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}

.promo__level-box {
  margin: 8px 0 0 0;
  padding: 0;
  width: 60px;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin: 11px 0 0 0;
  }
}

.promo__progress {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.promo__progress-box {
  margin: 0;
  padding: 0;
}

.promo__price {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 29px;
    position: relative;
    bottom: 112px;
    left: 534px;
    text-align: right;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 75px 0;
    width: 327px;
    text-align: left;
    position: static;
  }
}

.promo__slider {
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    background: none;
  }

  @media (min-width: $desktop-width) {
    text-align: right;
    position: absolute;
    top: 81px;
    right: 10px;
  }
}

.promo__image {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 101px 0;
    width: 560px;
    height: 512px;
  }
}
