.promo {
  margin: 27px 0 0;
  padding: 25px 20px;
  background-color: #eaeaea;
}

.promo__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.promo__description {
  margin: 0;
  padding: 40px 0 0 0;
  color: #444444;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.promo__stats {
  margin: 0;
  padding: 20px 0 0 0;
}

.promo__parametr {
  margin: 0;
  padding: 0;
}

.promo__level {
  margin: 0;
  padding: 20px 0 0 0;
  color: #444444;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}

.promo__progress {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.promo__price {
  margin: 0;
  padding: 20px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.promo__slider {
  margin: 0;
  padding: 20px 0;
}
