.site-list {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
  background: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    gap: 33px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    gap: 33px;
    font-size: 20px;
    line-height: 24px;
    background: none;
  }
}

.site-list__item {
  padding: 22px 0 24px 0;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 12px 0 12px 0;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 0 12px 0;
    background: none;
  }
}

.site-list__item a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
}

.site-list__item--view-1 a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background: none;


  @media (min-width: $tablet-width) {
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.active-1 {
  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      background-color: #68b738;
      width: 64px;
      height: 2px;
    }

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
      width: 71px;
    }
  }
}

.active-2 {
  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      left: 97px;
      bottom: 0;
      background-color: #68b738;
      width: 154px;
      height: 2px;
    }

    @media (min-width: $desktop-width) {
      background-color: #68b738;
      width: 171px;
      left: 104px;
    }
  }
}

.active-3 {
  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      left: 282px;
      bottom: 0;
      background-color: #68b738;
      width: 153px;
      height: 2px;
    }

    @media (min-width: $desktop-width) {
      background-color: #68b738;
      width: 170px;
      left: 306px;
    }
  }
}
