.site-list {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 20px;
}

.site-list__item {
  padding: 22px 0 24px 0;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.site-list__item a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
