
.button {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: #cfe6c1;
  background-color: #5eaa2f;
}

.button--second {
  color: #444444;
  background-color: #f2f2f2;
}

.button--second:hover {
  background-color: #ebebeb;
}

.button--second:active {
  color: #444444;
  background-color: #ebebeb;
}

.button--second-1 {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

