.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.custom-checkbox + label::before {
  content: " ";
  display: inline-block;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #cdcdcd;
  margin-right: 17px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #bababa;
  background-color: #ffffff;
}

.custom-checkbox:focus + label::before {
  outline: 2px solid #444444;
}

.custom-checkbox:checked + label::before {
  background-image: url("/img/svg/custom-checkbox-button-active.svg");
}

.custom-checkbox:disabled + label::before {
  background-image: url("/img/svg/custom-checkbox-button-active.svg");
  opacity: 0.3;
}
