html {
  height: 100%;
}

.page-body {
  margin: 0 auto;
  min-width: 320px;
  color: #000000;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    background: linear-gradient(to right, #ffffff 50%, #64a83c 50%);
    border: none;
  }
}

.page-body--second {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    min-width: 1440px;
    background: none;
    border: none;
  }
}

.page-body li {
  list-style: none;
}
