html {
  height: 100%;
}

.page-body {
  margin: 0 auto;
  min-width: 320px;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    min-width: 1440px;
  }
}

.page-body li {
  list-style: none;
}
